

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #42320b;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(122, 0, 0);
}

/* header */
.header a {
    font-size: 1.5em;
}
.header a.active {
    text-decoration: underline;
    color:#EF6C28 !important;
}


/* Tipografía para el navbar */

.navbar-nav .nav-link {
  font-family: 'Raleway', sans-serif;
}

/* Tipografía para el título de la Card */
.card legend {
  font-family: 'Raleway', sans-serif;
}

/* Tipografía para el resto de la Card */
.card-body {
  font-family: 'Montserrat', sans-serif;
}


/* main */
.row {
    gap: 10px;
    overflow: hidden;
}

.main-content {
    background-image: url('https://res.cloudinary.com/dhhyc88td/image/upload/v1708521396/Dietista_zgecas.jpg');
    background-repeat: no-repeat;
    background-color: #F5EEDC;
    background-position: right;
    background-size: contain; /* Cambiado de 'cover' a 'contain' */
}

.main-content .card {
    color:#63625f;
    background-color: #FFFFFF;
    border-radius: 25px;
    
}

#resultado {
    display: none;
}

/* Code Nathalia */

.containerNavbar {
    background-color: #76C5A8;
}
.navbarStyles .nav-link {
    color: white; /* Cambia el color del texto a blanco */
    font-size: 1.3rem; /* Ajusta el tamaño de la fuente según sea necesario */
    font-weight: bold;
}

.navbarStyles .nav-link.active {
    color: white; /* Cambia el color del texto activo a blanco */
}
.cardTitle {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #362517;
    font-size: 3rem; /* Ajusta el tamaño de la fuente según sea necesario */
    
}
.bold {
    font-weight: bold; /* Aplica negrita solo a la palabra "Calorías" */
}

.ButtomCalculate {
    border-radius: 20px;
    color: white;
    background-color: #EF6C28;
}

.rounded-input {
    border-radius: 20px; /* Puedes ajustar este valor según tus preferencias */
}
/* footer */
.footer {
    background-color: #76C5A8;
    color: white;
    margin: 0;
}

.footer ul {
    list-style: none;
    font-size: 1.2rem;
}

.footer a {
    text-decoration: none;
    color: rgb(223, 223, 223);
}