
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #42320b;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(122, 0, 0);
}

/* Estilos del encabezado */
.header a {
  font-size: 1.5em;
}

.header a.active {

    text-decoration: underline;
    color: #EF6C28 !important;
}

/* Estilos del navbar */
.navbar {
    background-color: #76C5A8;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    height: 60px;
    margin-right: 10px;
    margin-left: 20px;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    transition: all 0.3s ease;
    font-family: 'Raleway', sans-serif;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
    color: #EF6C28;
}

/* Estilos de la tarjeta */
.card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  text-decoration: underline;
  color: #ef6c28 !important;
}

/* Tipografía para el navbar */

}

.card legend {

    font-family: 'Raleway', sans-serif;

}

.card-body {

    font-family: 'Montserrat', sans-serif;
}

/* Code Nathalia */

.containerNavbar {
  background-color: #76c5a8;
}
.navbarStyles .nav-link {
  color: white; /* Cambia el color del texto a blanco */
  font-size: 1.3rem; /* Ajusta el tamaño de la fuente según sea necesario */
  font-weight: bold;
}

.navbarStyles .nav-link.active {
  color: white; /* Cambia el color del texto activo a blanco */
}
/* main */

.row {
  gap: 10px;
  overflow: hidden;
}


main {
  background-color: rgb(250, 250, 215);
  height: 80vh;
}

.main-content .card {
  color: #63625f;
  background-color: rgb(250, 250, 215);
  border-radius: 25px;

}

.back-drop {
  backdrop-filter: blur(5px);
}


#resultado {
  display: none;
  height: 70vh;
  position: absolute;


.cardTitle {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #362517;
  font-size: 1.5rem; /* Ajusta el tamaño de la fuente según sea necesario */

}

.bold {

    font-weight: bold;

}

.ButtomCalculate {
  border-radius: 20px;
  color: white;
  background-color: #ef6c28;
  transform: scale(1);
  transition: transform 1s ease-out;
}

.ButtomCalculate:hover {
  color: white;
  background-color: #ef6c28;
  transform: scale(1.1);
}

.bordered {
  height: 70vh;
  border-left: 0.2px solid #ef6c28;
  border-right: 0.2px solid #ef6c28;
}

.input-text::placeholder {
    color: #c3c0c0;
}

.identificationSelector {
    color: #878181;
}

.rounded-input {

  border-radius: 20px;

}

/* Estilos del footer */
.footer {

    background-color: #76C5A8;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding: 20px 20px 0 20px;
}

.footer-column {
    flex: 1;
}

.footer-column-left {
    text-align: left;
}

.footer-column-right {
    text-align: right;
}

.social-media-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-icon-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}


@media (max-width: 770px) {
  header {
    max-height: 13%;
  }
  footer {
    max-height: 13%;
  }
  p .truncate-text {
    display: none;
  }

}
@media (max-width: 580px) {
  p .truncate-text {
    display: none;
  }
}

@media (max-width: 1645px) {
  main{
    overflow-y: scroll;
  }
  .truncate-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
}

