body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #42320b;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(122, 0, 0);
}

/* header */
.header a {
  font-size: 1.5em;
}

.navbar-nav .nav-link {
  font-family: "Raleway", sans-serif;
}

.toggle-icon {
  color: #ef6c28 !important;
}

.card legend {
  font-family: "Raleway", sans-serif;
}

.card-body {
  font-family: "Montserrat", sans-serif;
}

.containerNavbar {
  background-color: #76c5a8;
}
.nav-link {
  color: white !important;
  font-size: 1.3rem;
  font-weight: bold;
}

.navbar-nav .nav-link:focus {
  color: #ef6c28 !important;
  outline: none;
}

/* main */
.row {
  gap: 10px;
  overflow: hidden;
}

main {
  background-color: rgb(250, 250, 215);
  height: 80vh;
}

.main-content .card {
  color: #63625f;
  background-color: rgb(250, 250, 215);
  border-radius: 25px;
}

.back-drop {
  backdrop-filter: blur(5px);
}

#resultado {
  display: none;
  height: 70vh;
  position: absolute;
}

.cardTitle {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #362517;
  font-size: 1.5rem;
}

.bold {
  font-weight: bold;
}

.ButtomCalculate {
  border-radius: 20px;
  color: white;
  background-color: #ef6c28;
  transform: scale(1);
  transition: transform 1s ease-out;
}

.ButtomCalculate:hover {
  color: white;
  background-color: #ef6c28;
  transform: scale(1.1);
}

.bordered {
  height: 70vh;
  border-left: 0.2px solid #ef6c28;
  border-right: 0.2px solid #ef6c28;
}

.rounded-input {
  border-radius: 20px;
}
/* footer */
.footer {
  background-color: #76c5a8;
  color: white;
  margin: 0;
}

.footer ul {
  list-style: none;
  font-size: 1.2rem;
}

.footer a {
  text-decoration: none;
  color: rgb(223, 223, 223);
}

@media (max-width: 770px) {
  header {
    max-height: 13%;
  }
  footer {
    max-height: 13%;
  }
  p .truncate-text {
    display: none;
  }
}
@media (max-width: 580px) {
  p .truncate-text {
    display: none;
  }
}

@media (max-width: 1645px) {
  .row {
    overflow: scroll;
  }
  .truncate-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
}
